
button{
    height: 20px;
    width: 20px;
    mat-icon{
        font-size: 10px;
    }
}
select{
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
mat-form-field{
 font-size: 10px;
 width: 100%;
}
.m-container{
    position: relative;
}