<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-form-field>
        <input matInput type="number" (change)=propertyChangeHandle($event) name="item.name" placeholder="{{item.name}}"
            [value]="value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <select (change)=setMeasureUnit($event) [value]="unit">
        <option value="px">px</option>
        <option value="em">em</option>
        <option value="vh">vh</option>
        <option value="%">%</option>
    </select>
</div>
