<fieldset (keyup)=fieldValueChanged($event) *ngIf="currentField">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Setting
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-field-property-setting [currentField]=currentField></app-field-property-setting>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dimension
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" >
        <app-measureUnit fxFlex="45" [item]="{name:'width',model:'width',modelValue:currentField.style?.width}"
          (valueUpdated)="updateStyle($event,'width')"></app-measureUnit>
        <app-measureUnit fxFlex="45" [item]="{name:'height',model:'height',modelValue:currentField.style?.height}"
          (valueUpdated)="updateStyle($event,'height')"></app-measureUnit>
        <app-measureUnit fxFlex="45" [item]="{name:'Max width',model:'maxWidth',modelValue:currentField.style?.maxWidth}"
          (valueUpdated)="updateStyle($event,'maxWidth')"></app-measureUnit>
        <app-measureUnit fxFlex="45"
          [item]="{name:'Max Height',model:'maxHeight',modelValue:currentField.style?.maxHeight}"
          (valueUpdated)="updateStyle($event,'maxHeight')"></app-measureUnit>
        <app-measureUnit fxFlex="45"
          [item]="{name:'Min Height',model:'minHeight',modelValue:currentField.style?.minHeight}"
          (valueUpdated)="updateStyle($event,'minHeight')"></app-measureUnit>
        <div>
          Margin
          <div fxLayout="row wrap" class="st-border" fxLayoutAlign="space-between center">
            <app-measureUnit fxFlex="45"
              [item]="{name:'Margin Top',model:'marginTop',modelValue:currentField.style?.marginTop}"
              (valueUpdated)="updateStyle($event,'marginTop')"></app-measureUnit>
            <app-measureUnit fxFlex="45"
              [item]="{name:'Margin Right',model:'marginRight',modelValue:currentField.style?.marginRight}"
              (valueUpdated)="updateStyle($event,'marginRight')"></app-measureUnit>
            <app-measureUnit fxFlex="45"
              [item]="{name:'Margin Bottom',model:'marginBottom',modelValue:currentField.style?.marginBottom}"
              (valueUpdated)="updateStyle($event,'marginBottom')"></app-measureUnit>
            <app-measureUnit fxFlex="45"
              [item]="{name:'Margin Left',model:'marginLeft',modelValue:currentField.style?.marginLeft}"
              (valueUpdated)="updateStyle($event,'marginLeft')"></app-measureUnit>
          </div>
        </div>
        <div>
          Padding
          <div fxLayout="row wrap" class="st-border" fxLayoutAlign="space-between center">
            <app-measureUnit fxFlex="45"
              [item]="{name:'Padding Top',model:'paddingTop',modelValue:currentField.style?.paddingTop}"
              (valueUpdated)="updateStyle($event,'paddingTop')"></app-measureUnit>
            <app-measureUnit fxFlex="45"
              [item]="{name:'Padding Right',model:'paddingRight',modelValue:currentField.style?.paddingRight}"
              (valueUpdated)="updateStyle($event,'paddingRight')"></app-measureUnit>
            <app-measureUnit fxFlex="45"
              [item]="{name:'Padding Bottom',model:'paddingBottom',modelValue:currentField.style?.paddingBottom}"
              (valueUpdated)="updateStyle($event,'paddingBottom')"></app-measureUnit>
            <app-measureUnit fxFlex="45"
              [item]="{name:'Padding Left',model:'paddingLeft',modelValue:currentField.style?.paddingLeft}"
              (valueUpdated)="updateStyle($event,'paddingLeft')"></app-measureUnit>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Value Setting
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-field-value-setting [currentField]=currentField></app-field-value-setting>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Look And Feel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mb-1">
        <label>Background color</label>
        <input class="form-control" [cpPosition]="'top-left'" [cpPositionOffset]="'50%'"
          [style.background]="currentField.style?.backgroundColor" [colorPicker]="currentField.style?.backgroundColor"
          (colorPickerChange)="colorPickerChange($event,'backgroundColor')" />
      </div>
      <mat-divider></mat-divider>
      Box shadow
      <div fxLayout="row wrap" class="st-border" fxLayoutAlign="space-between center">
        <app-measureUnit fxFlex="45" [item]="{name:'y-offset',model:'boxShadow.y',modelValue:boxShadow.y}"
          (valueUpdated)="boxShawChange('y',$event)"></app-measureUnit>
        <app-measureUnit fxFlex="45" [item]="{name:'x-offset',model:'boxShadow.x',modelValue:boxShadow.x}"
          (valueUpdated)="boxShawChange('x',$event)"></app-measureUnit>
        <app-measureUnit fxFlex="45" [item]="{name:'blur',model:'boxShadow.blur',modelValue:boxShadow.blur}"
          (valueUpdated)="boxShawChange('b',$event)"></app-measureUnit>
        <app-measureUnit fxFlex="45" [item]="{name:'spread',model:'boxShadow.spread',modelValue:boxShadow.spread}"
          (valueUpdated)="boxShawChange('s',$event)"></app-measureUnit>
        <div>
          <input [cpPosition]="'top-left'" [cpPositionOffset]="'50%'" [style.background]="boxShadow[4]"
            [colorPicker]="boxShadow[4]" (colorPickerChange)="boxShawChange('c',$event)" />
        </div>
      </div>
      <mat-divider></mat-divider>
      Border
      <div fxLayout="row wrap" class="st-border" fxLayoutAlign="space-between center">
        <app-measureUnit fxFlex="45"
          [item]="{name:'Thickness',model:'borderWidth',modelValue:currentField.style?.borderWidth}"
          (valueUpdated)="updateStyle($event,'borderWidth')"></app-measureUnit>
        <mat-form-field fxFlex="45%">
          <mat-select placeholder="Type" (selectionChange)="updateStyle($event,'borderStyle')" name="borderStyle">
            <mat-option value="solid">solid</mat-option>
            <mat-option value="dashed">dashed</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <label>color</label>
          <input class="form-control" [cpPosition]="'top-left'" [cpPositionOffset]="'50%'"
            [style.background]="currentField.style?.borderColor" [colorPicker]="currentField.style?.borderColor"
            (colorPickerChange)="colorPickerChange($event,'borderColor')" />
        </div>
        <app-measureUnit [item]="{name:'Border Raduis',model:'borderRadius',modelValue:currentField.style?.borderRadius}"
          (valueUpdated)="updateStyle($event,'borderRadius')"></app-measureUnit>
      </div>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Typography
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-typography [currentField]="currentField"></app-typography>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="currentField.type===15">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Card Setting
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45%">
          <input matInput placeholder="Title" name='cardTitle' [valueHandler]="currentField['cardTitle']">
        </mat-form-field>
  
        <mat-form-field fxFlex="45%">
          <input matInput placeholder="Sub-title" name="cardSubTitle" [valueHandler]="currentField['cardSubTitle']">
        </mat-form-field>
      </div>
      Card Actions
      <div class="st-border" fxLayout="column">
        <div>
          <button mat-icon-button color="primary" aria-label="Example icon-button with a add icon"
            (click)="addNewCardAction()" matTooltip='Add Action'>
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div *ngFor="let action of currentField['cardActions']" fxFlex="45%">
          <mat-form-field>
            <input matInput placeholder="action Name" [(ngModel)]="action.title">
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="!currentField.isContainer">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Events
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-field-event [currentField]="currentField"></app-field-event>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Advanced Layout
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-flex-setting [currentField]="currentField"></app-flex-setting>
    </mat-expansion-panel>
  </mat-accordion>
  
</fieldset>
