.st-border{
    border: 1px solid #bebebe;
    padding: 6px;
}
mat-form-field{
    width: 5em;
}
fieldset{
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: auto;
    border-width: 0;
    border-style: none;
}