<ng-container [ngSwitch]="field.type">
    <mat-form-field *ngSwitchCase="0" appearance="outline">
        <mat-label>{{field.label}}</mat-label>
        <input [type]="field.typeName" matInput placeholder="{{field.placeholder}}" [value]="value"
            (change)="onValueChange($event)">
        <mat-hint>{{field.hint}}</mat-hint>
        <button mat-button *ngIf="field.clearButton" (click)="onValueChange({target:{value:''}})" matSuffix
            mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngSwitchCase="8">
        <mat-label>{{field.label}}</mat-label>
        <textarea matInput placeholder="{{field.placeholder}}" [value]="value"
            (change)="onValueChange($event)"></textarea>
    </mat-form-field>

    <mat-checkbox *ngSwitchCase="6" [value]="value" (change)="onValueChange($event)">Label</mat-checkbox>
    <mat-form-field appearance="outline" *ngSwitchCase="7">
        <input readonly="true" [value]="value" (dateChange)="onValueChange($event)" matInput [matDatepicker]="picker"
            placeholder="{{field.placeholder}}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
        <mat-hint>{{field['hint']}}</mat-hint>
        <button mat-button *ngIf="field.clearButton" (click)="onValueChange({target:{value:''}})" matSuffix
            mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div *ngSwitchCase="11">
        <label>{{field.placeholder}}</label>
        <mat-slider [max]="field.max" [min]="field.min" [step]="field.step"></mat-slider>
    </div>
</ng-container>