<div fxLayout="column">
    <button (click)="save()" fxFlexAlign='flex-end' mat-raised-button color="primary">
        Save
    </button>
    <mat-form-field class="">
        <input [(ngModel)]="dataSource.name" [required]="" type="text" matInput placeholder="Name" value="" />
    </mat-form-field>
    <div>
        <mat-form-field [ngStyle]="{}" class="" fxFlex='50'>
            <input [(ngModel)]="dataSource.url" matInput placeholder="URL" value="" />
        </mat-form-field>
        <div>
            <button (click)="fetchData()" mat-raised-button color="accent">
                Fetch
            </button>
        </div>
    </div>
</div>
<div>
    <button mat-raised-button color="primary" (click)="addNewRow()">Add</button>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Discription
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataSource.staticData">
                <td>
                    <app-edit-in-place [status]='1' [(data)]="item.id"></app-edit-in-place>
                </td>
                <td>
                    <app-edit-in-place [status]='1' [(data)]="item.discription"></app-edit-in-place>
                </td>
                <td>
                    <mat-icon (click)="deleteItem(item)">delete</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>