@mixin hover() {
    &:hover { @content; }
  }
  
.operator{
    button{
        font-size: 25px;
    height: 49px;
 }
}
mat-list{
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid;
    width: 20%;
    mat-list-item{
        font-size:12px;
        cursor: pointer;
        @include hover() {
            background-color: #dedede;;
          }
    }
}
textarea{
    height: 9em;
    display: block;
    width: 100%;
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 5px;
}