<div cdkDropList [cdkDropListData]="appService.fields" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of appService.fields">
        <div [ngSwitch]="item.type" cdkDragBoundary=".boundary" cdkDrag>
            <div *ngSwitchCase="0">
                <mat-form-field id="{{item.id}}" [appStyle]="item.style" (click)="selectItem(item)"
                    [ngClass]="{'item-selected':item.isSelected}">
                    <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>
            </div>
            <div *ngSwitchDefault>output2</div>
        </div>
        <div>
        </div>
    </div>
</div>