<div [ngSwitch]="field.type" (click)="appService.selectField(field)">
    <div *ngSwitchCase="0">
        <mat-form-field id="{{field.id}}" [appStyle]="field.style"
            [ngClass]="{'item-selected':field.id===appService.currentField?.id}">
            <input matInput placeholder="{{field.placeholder}}" value="text">
        </mat-form-field>
    </div>
    <div *ngSwitchCase="1">
        <mat-form-field id="{{field.id}}" [appStyle]="field.style"
            [ngClass]="{'item-selected':field.id===appService.currentField?.id}">
            <input type="number" matInput placeholder="{{field.placeholder}}" value="0">
        </mat-form-field>
    </div>
    <div *ngSwitchCase="6">
        <mat-checkbox id="{{field.id}}" [appStyle]="field.style"
            [ngClass]="{'item-selected':field.id===appService.currentField?.id}">Label</mat-checkbox>
    </div>
    <div *ngSwitchCase="7">
        <mat-form-field  id="{{field.id}}" [appStyle]="field.style"  [ngClass]="{'item-selected':field.id===appService.currentField?.id}">
            <input  readonly="true" matInput [matDatepicker]="picker" placeholder="{{field.placeholder}}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>
    </div>
    <div *ngSwitchCase="9">
        <mat-radio-group fxLayout="row" fxLayoutGap="5px"  id="{{field.id}}" [appStyle]="field.style"  [ngClass]="{'item-selected':field.id===appService.currentField?.id}" aria-label="Select an option">
            <mat-radio-button *ngFor="let item of field.radioButtonGroup" value="item.value">{{item.placeholder}}</mat-radio-button>
        </mat-radio-group>
    </div>
    <div *ngSwitchCase="11"  id="{{field.id}}" [appStyle]="field.style"  [ngClass]="{'item-selected':field.id===appService.currentField?.id}">
        <label>{{field.placeholder}}</label>
        <mat-slider [max]="field.max" [min]="field.min" [step]="field.step"></mat-slider>
    </div>
   
    <div *ngSwitchDefault></div>
</div>