<ng-container [ngSwitch]="field.type">
    <mat-form-field *ngSwitchCase="0">
        <input (change)="valueChange(field.model,$event)" [value]="getFieldValue(field.model)" matInput
            placeholder="{{field.placeholder}}">
    </mat-form-field>
    <mat-form-field *ngSwitchCase="1">
        <input type="number" (change)="valueChange(field.model,$event)" [value]="getFieldValue(field.model)" matInput
            placeholder="{{field.placeholder}}">
    </mat-form-field>
    <mat-form-field *ngSwitchCase="21">
        <input matInput type="email" (change)="valueChange(field.model,$event)" [value]="getFieldValue(field.model)"
            placeholder="{{field.placeholder}}">
    </mat-form-field>
    <mat-form-field *ngSwitchCase="22">
        <input matInput type="password" (change)="valueChange(field.model,$event)" [value]="getFieldValue(field.model)"
            placeholder="{{field.placeholder}}">
    </mat-form-field>
    <mat-checkbox *ngSwitchCase="6">Label</mat-checkbox>
    <mat-form-field *ngSwitchCase="7">
        <input readonly="true" (dateChange)="valueChange(field.model,$event)" [value]="getFieldValue(field.model)"
            matInput [matDatepicker]="picker" placeholder="{{field.placeholder}}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>
    <mat-radio-group *ngSwitchCase="9" fxLayout="row" fxLayoutGap="5px" aria-label="Select an option">
        <mat-radio-button (change)="valueChange(field.model,$event)" [value]="getFieldValue(field.model)"
            *ngFor="let item of field.radioButtonGroup" value="item.value">{{item.placeholder}}
        </mat-radio-button>
    </mat-radio-group>
    <div *ngSwitchCase="11">
        <label>{{field.placeholder}}</label>
        <mat-slider (change)="valueChange(field.model,$event)" [value]="getFieldValue(field.model)" [max]="field.max"
            [min]="field.min" [step]="field.step"></mat-slider>
    </div>
    <ng-container *ngSwitchCase="16">
        <ng-container [ngSwitch]="field['buttonType']">
            <ng-container *ngSwitchCase="'mat-button'">
                <button mat-button color="{{field['buttonColor']}}">{{field.value}}</button>
            </ng-container>
            <ng-container *ngSwitchCase="'mat-raised-button'">
                <button mat-raised-button color="{{field['buttonColor']}}">{{field.value}}</button>
            </ng-container>
            <ng-container *ngSwitchCase="'mat-stroked-button'">
                <button mat-stroked-button color="{{field['buttonColor']}}">{{field.value}}</button>
            </ng-container>
            <ng-container *ngSwitchCase="'mat-flat-button'">
                <button mat-flat-button color="{{field['buttonColor']}}">{{field.value}}</button>
            </ng-container>
            <ng-container *ngSwitchCase="'mat-icon-button'">
                <button mat-icon-button color="{{field['buttonColor']}}">
                    <mat-icon>favorite</mat-icon>
                </button>
            </ng-container>
            <ng-container *ngSwitchCase="'mat-fab'">
                <button mat-fab color="{{field['buttonColor']}}">
                    <mat-icon>favorite</mat-icon>
                </button>
            </ng-container>
            <ng-container *ngSwitchCase="'mat-mini-fab'">
                <button mat-mini-fab color="{{field['buttonColor']}}"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </ng-container>
        </ng-container>
        <div *ngSwitchDefault></div>
    </ng-container>
    <h1 *ngSwitchCase="18">{{field.value}}</h1>
    <h3 *ngSwitchCase="19">{{field.value}}</h3>
    <p *ngSwitchCase="20">{{field.value}}</p>
    <mat-form-field *ngSwitchCase="25">
        <mat-label>{{field.placeholder}}</mat-label>
        <mat-select (selectionChange)="valueChange(field.model,$event)">
            <mat-option *ngFor="let item of field['dataSource'].data" [value]="item[field['valueMember']]">
                {{item[field['dispalyMember']]}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- <app-table-field [field]="field" [perfomAction]="performAction" *ngSwitchCase="23"></app-table-field>
    <app-select-field [field]="field" [perfomAction]="performAction" *ngSwitchCase="25"></app-select-field> -->
</ng-container>