<!-- <ng-container [ngSwitch]="field.type">
  <ng-container *ngIf="field.category===0">
    <app-input-field [field]="field" [value]="getFieldValue(field.model)"
      (valueChange)="valueChange(field.model,$event)"></app-input-field>
  </ng-container>
  <app-button-field-render *ngSwitchCase="16" [field]="field"></app-button-field-render>
  <h1 *ngSwitchCase="18">{{field.value}}</h1>
  <h3 *ngSwitchCase="19">{{field.value}}</h3>
  <div *ngSwitchCase="20" [innerHTML]="field.value"></div>
  <mat-form-field *ngSwitchCase="25" appearance="outline">
    <mat-label>{{field.placeholder}}</mat-label>
    <mat-select (selectionChange)="onSelectionChange($event)">
      <mat-option *ngFor="let item of field['dataSource']?.data" [value]="item[field['valueMember']]">
        {{item[field['dispalyMember']]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-radio-button-field [field]="field" *ngSwitchCase="9" [value]="getFieldValue(field.model)"
    (valueChange)="valueChange(field.model,$event)"></app-radio-button-field>
  <div *ngSwitchCase="27" class="calc-field">
    <span>{{field.placeholder}}</span>
    <span>{{this.getFieldValue(field.model)}}</span>
  </div>
  <app-createable-table-render [field]="field" *ngSwitchCase="28"></app-createable-table-render>
</ng-container> -->