.summary {
  min-height: 2rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-top: 0;

  p {
    font-size: 15px;
    font-weight: bold;
  }

}
.row-selected{
  background-color: #d0cece;
  color: black;
}
