::ng-deep mat-form-field {
  font-size: 12px !important;
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

::ng-deep .mat-form-field-wrapper {
  padding: 0 !important;
}

.summary {
  min-height: 2rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-top: 0;

  p {
    font-size: 15px;
    font-weight: bold;
  }

}