<div cdkDropList [cdkDropListData]="appService.containers" (cdkDropListDropped)="drop($event)">
    <div cdkDropListGroup>
        <div *ngFor="let item of appService.containers" id="{{item.id}}" cdkDrag>
            <div [ngSwitch]="item.type">
                <!-- [appHighlight]='{color:color}' -->
                <mat-icon matTooltip="Drag containers" cdkDragHandle aria-hidden="false"
                    aria-label="Example drag_handle icon">drag_handle</mat-icon>
                <div *ngSwitchCase="divType" class="field-container" [appStyle]="item.style"
                    [ngClass]="{'item-selected': item.id===appService.currentField?.id}"
                    (click)="selectItem($event,item)" cdkDropList [cdkDropListData]="item.fields"
                    (cdkDropListDropped)="dropField($event)">
                    <div *ngFor="let field of item.fields" cdkDragBoundary=".boundary" cdkDrag>
                        <app-fields *ngIf="!field.isContainer" [field]="field"></app-fields>
                        <app-child-container style="width: 100%;" *ngIf="field.isContainer" [container]="field">
                        </app-child-container>
                    </div>
                    <div *ngSwitchDefault>output2</div>
                </div>
                <div *ngSwitchCase="15" [appStyle]="item.style"
                [ngClass]="{'item-selected': item.id===appService.currentField?.id}"
                (click)="selectItem($event,item)">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Here is Title</mat-card-title>
                            <mat-card-subtitle>Here is Sub-title</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div *ngFor="let field of item.fields">
                                <app-fields *ngIf="!field.isContainer" [field]="field"></app-fields>
                                <app-child-container style="width: 100%;" *ngIf="field.isContainer" [container]="field">
                                </app-child-container>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>