//
// Basic Bootstrap table
//
@mixin hover() {
    &:hover { @content; }
  }
  
  @mixin hover-focus() {
    &:hover,
    &:focus {
      @content;
    }
  }
  
  @mixin plain-hover-focus() {
    &,
    &:hover,
    &:focus {
      @content;
    }
  }
  
  @mixin hover-focus-active() {
    &:hover,
    &:focus,
    &:active {
      @content;
    }
  }
  
$table-color:#212529;
$table-border-width:2px;
$table-border-color:#dee2e6;
$table-bg:white;
$table-cell-padding:.75rem;
$table-hover-color:#212529;
$table-hover-bg:rgba(0,0,0,.075);
table { 
	width: 100%; 
	border-collapse: collapse; 
	}


th { 
	color: black; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}
  
  .table-hover {
    tbody tr {
      @include hover() {
        color: $table-hover-color;
        background-color: $table-hover-bg;
      }
    }
  }
  
  
  // Table backgrounds
  //
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  
  
  
  // Dark styles
  //
  // Same table markup, but inverted color scheme: dark background and light text.
  
  // stylelint-disable-next-line no-duplicate-selectors
 
  
  
  
  