<mat-form-field style="width: 40%;">
    <mat-label>Columns</mat-label>

    <mat-select multiple (selectionChange)="setHeaderVisability($event)" [value]="field!.header">
        <mat-select-trigger>
            {{currentRows && currentRows[0] ? currentRows[0].name : ''}}
            <span *ngIf="currentRows!.length > 1">
                (+{{currentRows!.length - 1}}
                {{currentRows!.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let item of field?.header" [value]="item"> {{item.name}}</mat-option>
    </mat-select>
</mat-form-field>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th *ngFor="let item of currentRows">
                {{item.name}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: pageNo }">
            <td *ngFor="let cell of currentRows">
                {{item[cell.binding]}}
            </td>
        </tr>
    </tbody>
</table>
