<mat-form-field >
    <mat-select  placeholder="{{field.placeholder}}">
        <mat-label>{{field.label}}</mat-label>
        <ng-container *ngIf="field.dataSource?.staticData?.length>0">
            <mat-option *ngFor="let item of field.dataSource.staticData">
                {{item.discription}}
            </mat-option>
        </ng-container>
       
    </mat-select>
    <mat-hint>{{field['hint']}}</mat-hint>
    <button mat-button *ngIf="field['clearButton']" matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>