<mat-toolbar>
  <button matTooltip="Open Style Manager" mat-icon-button (click)="OpenManager(0)"
    aria-label="Example icon-button with a style icon">
    <mat-icon>style</mat-icon>
  </button>
  <button matTooltip="Open Control Manager" mat-icon-button (click)="OpenManager(1)"
    aria-label="Example icon-button with a ballot icon">
    <mat-icon>ballot</mat-icon>
  </button>
  <button matTooltip="Data Structure" mat-icon-button (click)="showDataStructure()" aria-label="Example icon-button with a storage icon">
    <mat-icon>storage</mat-icon>
  </button>
  <button matTooltip="Preview" mat-icon-button (click)="preview()" aria-label="Example icon-button with a ballot icon">
    <mat-icon>pageview</mat-icon>
  </button>
  <button matTooltip="Initialization" mat-icon-button (click)="initFormDialog()" aria-label="Example icon-button with a published_with_changes icon">
    <mat-icon>published_with_changes</mat-icon>
  </button>
  <button matTooltip="Save" mat-icon-button (click)="save()" aria-label="Example icon-button with a ballot icon">
    <mat-icon>save</mat-icon>
  </button>
</mat-toolbar>
