<mat-toolbar>
    <button  matTooltip="Generate Code" mat-icon-button (click)="generateCode()" aria-label="Example icon-button with a code icon">
        <mat-icon>code</mat-icon>
    </button>
    <button matTooltip="Open Style Manager" mat-icon-button (click)="OpenManager(1)" aria-label="Example icon-button with a style icon">
        <mat-icon>style</mat-icon>
    </button>
    <button matTooltip="Open Control Manager" mat-icon-button (click)="OpenManager(0)" aria-label="Example icon-button with a ballot icon">
        <mat-icon>ballot</mat-icon>
    </button>
    <button matTooltip="Preview" mat-icon-button (click)="preview()" aria-label="Example icon-button with a ballot icon">
        <mat-icon>pageview</mat-icon>
    </button>
</mat-toolbar>