.field-action{
    position: absolute;
    top: -1.9em;
    background: gold;
    color: white;
    left: -2px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    mat-icon{
        font-size: 19px;
    }
}