<ng-container [ngSwitch]="container.type">
    <ng-container *ngSwitchCase="13">
        <ng-container *ngFor="let field of container.fields">
            <app-field-render *ngIf="!field.isContainer" [field]="field" [appStyle]="field.style" [appStyle]="field.style"></app-field-render>
            <app-child-container-render *ngIf="field.isContainer"[container]="field" [appStyle]="field.style" [styleField]="field" >
            </app-child-container-render>
        </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="26">
        <mat-tab-group>
            <mat-tab *ngFor="let tab of container['tabs']">
                <ng-template mat-tab-label>
                    {{tab.tabName}}
                </ng-template>
                <div class="field" [appStyle]="tab.container.style">
                    <ng-container *ngFor="let item of tab.container.fields">
                        <app-field-render [field]="item" [appStyle]="item.style"></app-field-render>
                    </ng-container>
                </div>

            </mat-tab>
        </mat-tab-group>
    </ng-container>
    <ng-container *ngSwitchCase="24">
       <app-list-field-render [container]="container"></app-list-field-render>
    </ng-container>
</ng-container>