<div *ngIf="status===1" fxLayout="row" class="edit-input">
  <ng-container [ngSwitch]="type">
    <mat-form-field *ngSwitchCase="1" appearance="outline">
      <input matInput placeholder="Type here" [(ngModel)]="_tempData" name="name">
    </mat-form-field>
    <mat-form-field *ngSwitchCase="5" appearance="outline">
      <input matInput placeholder="Type here" type="number" [(ngModel)]="_tempData" name="name">
    </mat-form-field>
    <mat-checkbox *ngSwitchCase="7" [(ngModel)]="_tempData"></mat-checkbox>
    <mat-form-field appearance="outline" *ngSwitchCase="8">
      <input readonly="true" [(ngModel)]="_tempData" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>
  </ng-container>
  <div *ngIf="!hideActions" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon (click)="changeEditStatus(2)">done</mat-icon>
    <mat-icon (click)="changeEditStatus(4)">close</mat-icon>
  </div>
</div>
<div *ngIf="status===4 || status===3">
  {{data}}
  <mat-icon *ngIf="!hideActions" (click)="changeEditStatus(1)">edit</mat-icon>
</div>
