<div fxLayout="column" fxLayoutAlign="center center" class="full-screen">
  <div class="full-width" fxLayoutAlign="center center">
    <mat-form-field fxFlex="1 1 70%">
      <mat-select placeholder="Frame Work" [(ngModel)]="selectedFramework">
        <mat-option value="Angular">
          Angular
        </mat-option>
        <mat-option value="ReactJs">
          ReactJs
        </mat-option>
        <mat-option value="VueJs">
          VueJs
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="full-width" fxLayoutAlign="center center">
    <button mat-raised-button routerLink="/builder" color="accent">
      Next
    </button>
  </div>

</div>