<app-top-nav></app-top-nav>
<div fxLayout="row">
  <div style="height: 100vh; width: 10vw;border: 1px solid; margin: 5px;">
    <button mat-button (click)="addElement(0)">Click me!</button>
  </div>
  <div style="height: 100vh; width: 100%;border: 1px solid; margin: 5px;" class="boundary">
    <app-fields></app-fields>
  </div>
  <div [ngClass]="{'showsidebar': appService.sidebarOpened}" class="sidebar" *ngIf="appService.currentField" >
    <app-properties [currentField]=appService.currentField></app-properties>
  </div>
</div>