.sidebar{
    width: 30vw;
  display: none;
  transition: all .5s linear;
  opacity: 0;
  box-shadow: 0 0 2px 2px #00000052;
  padding: 5px;
  margin: 5px;

  border-top-left-radius: 5px;
}
.showsidebar{
    display: inline-block;
    opacity: 1;
}
.boundary{
  height: 100vh; width: 100%;border: 1px solid; margin: 5px;
}
.item-selected{
  border: 1px dashed black;
}
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
