.sidebar{
    width: 30vw;
  display: none;
  transition: all 2s linear;
  opacity: 0;
  box-shadow: 0 0 2px 2px #00000052;
  padding: 5px;
}
.showsidebar{
    display: inline-block;
    opacity: 1;
}