<mat-toolbar>
  <button matTooltip="Generate Code" (click)="sidenav.toggle()" mat-icon-button
    aria-label="Example icon-button with a code icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar class="breadcrump-toolbar">
  <span>{{currentRoute}}</span>
</mat-toolbar>
<div>
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sidebarOpened">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a mat-flat-button [routerLink]="['application']">Applications</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <a mat-flat-button [routerLink]="['group']">Groups</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <a mat-flat-button [routerLink]="['position']">Positions</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <a mat-flat-button [routerLink]="['form']">Forms</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
