
<mat-form-field>
    <mat-select placeholder="Model" (selectionChange)="getModelProps()" [(ngModel)]="data.model">
        <mat-option *ngFor="let prop of mainModel" [value]="prop">{{prop}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-dialog-content>
    <button mat-raised-button (click)="add()" color="accent">Add</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Header Name
                </th>
                <th>
                    Model
                </th>
                <th>
                    Type
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data.header">
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Name" [(ngModel)]="item.name">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-select placeholder="Model" [(ngModel)]="item.binding">
                            <mat-option *ngFor="let model of modelProps" [value]="model">{{model}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-select placeholder="Type" [(ngModel)]="item.columnType">
                            <mat-option value="0">Input</mat-option>
                            <mat-option value="1">Text</mat-option>
                            <mat-option value="2">Search</mat-option>
                            <mat-option value="4">Image</mat-option>
                            <mat-option value="5">Number</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-icon (click)="remove(item)">delete</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="save()" color="primary">Save</button>
</mat-dialog-actions>