<mat-form-field>
    <mat-select placeholder="Model" (selectionChange)="getModelProps()" [(ngModel)]="data.model">
        <mat-option *ngFor="let prop of mainModel" [value]="prop">{{prop}}</mat-option>
    </mat-select>
</mat-form-field>
<button mat-raised-button (click)="add()" color="accent">Add</button>
<mat-dialog-content>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Header Name
                </th>
                <th>
                    Model
                </th>
                <th>
                    Type
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let item of data.header">
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Name" [(ngModel)]="item.name">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-select placeholder="Model" [(ngModel)]="item.binding">
                            <mat-option *ngFor="let model of modelProps" [value]="model">{{model}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-select placeholder="Type" [(ngModel)]="item.columnType">
                            <mat-option value="0">Input</mat-option>
                            <mat-option value="1">Text</mat-option>
                            <mat-option value="2">Search</mat-option>
                            <mat-option value="4">Image</mat-option>
                            <mat-option value="5">Number</mat-option>
                            <mat-option value="6">Action</mat-option>
                            <mat-option value="7">Checkbox</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-icon (click)="remove(item)">delete</mat-icon>
                </td>

            </tr>
            <tr>
                <td colspan="6" *ngIf="item.columnType==='6'">
                    <button mat-raised-button (click)="addAction(item)" color="accent">Add Action</button>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    ToolTip
                                </th>
                                <th>
                                    Icon
                                </th>
                                <th>
                                    Actions
                                </th>
                                <th>
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let action of item.actions;">
                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="Tooltip" [(ngModel)]="action.tooltip">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="Icon" [(ngModel)]="action.icon">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="action.actionType">
                                        <mat-radio-button value="1">Delete Row</mat-radio-button>
                                        <mat-radio-button value="2">Edit Row</mat-radio-button>
                                    </mat-radio-group>
                                    <mat-icon matTooltip="Advanced Action" (click)="openEventDialop(action,item)">code
                                    </mat-icon>
                                </td>
                                <td>
                                    <mat-icon matTooltip="Delete Action" (click)="deleteAction(action,item)">delete
                                    </mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="save()" color="primary">Save</button>
</mat-dialog-actions>