<div class="header">
    <div fxLayoutAlign="space-between center">
        <h3>Enter the model binder definision interface</h3>
        <button mat-raised-button routerLink="/builder" color="accent">
            Next
        </button>
    </div>
    <div >
        <mat-form-field>
            <input matInput [(ngModel)]="modelName">
        </mat-form-field>
    </div>
</div>
<mat-divider></mat-divider>
<ngs-code-editor theme="vs-dark" [codeModel]="codeModel" [options]="options">
</ngs-code-editor>