<div class="conf-container" fxFlexFill>
  <div class="header">
    <div fxFlex fxLayoutAlign="space-between">
      <h3>Enter the model binder definision Object</h3>
      <div fxFlex fxLayoutAlign="end" >
        <button mat-raised-button (click)="close()" class="m-1" color="accent">
          Cancel
        </button>
        <button mat-raised-button (click)="save()" class="m-1" color="accent">
          Save
        </button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <ngs-code-editor (valueChanged)="onCodeChanged($event)" theme="vs-dark" [codeModel]="codeModel" [options]="options">
  </ngs-code-editor>
</div>
