<ng-container *ngFor="let item of field.fields">
    <ng-container *ngIf="!item.isContainer">
        <app-fields mwlResizable [enableGhostResize]="true" draggable="true" (dragstart)="startReposition($event,item)"
            [resizeEdges]="{ bottom: true, right: true, top: true, left: true }" (dragover)='onDragOver($event,item);'
            (resizeEnd)="onResizeEnd($event,item)" [field]="item" [appStyle]="item.style || {}" id="{{item.id}}"
            (click)="appService.selectField(item, $event)"
            [ngClass]="{'field-selected':appService.currentField && item.id===appService.currentField.id}"
            [appHighlight]='{color:colors.BLACK}'>
        </app-fields>
    </ng-container>
    <app-child-container mwlResizable [enableGhostResize]="true" id="{{item.id}}"
        [resizeEdges]="{ bottom: true, right: true, top: true, left: true }" (resizeEnd)="onResizeEnd($event,item)"
        class="child-container" [ngClass]="{'field-selected':appService.currentField && item.id===appService.currentField.id}"
        [appHighlight]='{color:colors.BLACK}' [appStyle]="item.style || {}" *ngIf="item.isContainer" [container]="item"
        (click)="appService.selectField(item , $event)" draggable="true" (dragstart)="startReposition($event,item)"
        (dragover)='onDragOver($event, item);'>
    </app-child-container>
</ng-container>