<mat-toolbar>
  <button matTooltip="Toggle Sidebar" (click)="sidenav.toggle()" mat-icon-button
    aria-label="Example icon-button with a code icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div fxFill *ngIf="currentForm">
  <app-page-renderer *ngIf="currentForm" [containers]=formSetting [formFunction]=currentFormFunction [featureId]="currentForm.featureId"></app-page-renderer>
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sidebarOpened">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of features$ | async as list" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let form of item.form; let last=last"
            (click)="getFeatureForm(form.id)">
            <a fxFill fxFlex fxLayout="start" mat-flat-button>{{form.name}}</a>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
</mat-sidenav-container>
