.field-container{
    .inline-block{
        display: inline-block;
    }
    app-child-container{
        display: block;
    }
    .field-selected{
        border: 2px double gold !important;
    }
}