.field-container,mat-card-content{
    transition: all ease .5s;
    .field{
        display: inline-table;
         position: relative;
        // min-width: 8em;
    }
    .full-width{
        width: 100%;
    }
    .field-selected{
        border: 2px double gold !important;
        transition: all ease .5s;
    }
   
}