<ng-container [ngSwitch]="container.type">
    <app-field-action [field]="container" *ngIf="container.id===appService.currentField?.id"></app-field-action>
    <ng-container *ngSwitchCase="13">
        <ng-container  *ngFor="let field of container.fields">
            <ng-container *ngIf="!field.isContainer">
                <app-fields  mwlResizable [enableGhostResize]="true"
                [resizeEdges]="{ bottom: true, right: true, top: true, left: true }" 
                (resizeEnd)="onResizeEnd($event,field)"  [field]="field" [appStyle]="field.style" id="{{field.id}}" (click)="appService.selectField(field)"
                [ngClass]="{'field-selected':field.id===appService.currentField?.id}" [appHighlight]='{color:"black"}'></app-fields>
            </ng-container>
            <app-child-container mwlResizable [enableGhostResize]="true" id="{{field.id}}"
            [resizeEdges]="{ bottom: true, right: true, top: true, left: true }"
            (resizeEnd)="onResizeEnd($event,field)" class="child-container"
            [ngClass]="{'field-selected':field.id===appService.currentField?.id}"
            [appHighlight]='{color:"black"}' [appStyle]="field.style" *ngIf="field.isContainer"
            [container]="field" (click)="appService.selectField(field)" draggable="true"
            (dragstart)="startReposition($event,field)" (dragover)='onDragOver($event,field);'>
        </app-child-container>
        </ng-container>
    </ng-container>
    <app-tab-field *ngSwitchCase="26" [field]="container"></app-tab-field>
    <app-form-field [field]="container" *ngSwitchCase="4"></app-form-field>
</ng-container>