<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Form
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="type-container" fxLayout="row wrap">
            <div draggable='true' (dragstart)='onDragStart($event,0,false,false,0);'
                aria-label="Example icon-button with a input icon">
                Input
                <mat-icon>input</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,8,false,false,0);'
                aria-label="Example icon-button with a subject icon">
                Text Area
                <mat-icon>subject</mat-icon>
            </div>
            <!-- <div draggable='true' (dragstart)='onDragStart($event,1,false,false,0);'
                aria-label="Example icon-button with a looks_5 icon">
                Input number
                <mat-icon>looks_5</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,21,false,false,0);'
                aria-label="Example icon-button with a email icon">
                Input Email
                <mat-icon>email</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,22,false,false,0);'
                aria-label="Example icon-button with a looks_5 icon">
                Input Password
                <mat-icon>vpn_key</mat-icon>
            </div> -->
            <div draggable='true' (dragstart)='onDragStart($event,6,false,false,0);'
                aria-label="Example icon-button with a check_box icon">
                Check box
                <mat-icon>check_box</mat-icon>
            </div>
            <!-- <div draggable='true' (dragstart)='onDragStart($event,7,false,false,0);'
                aria-label="Example icon-button with a date_range icon">
                Datepicker
                <mat-icon>date_range</mat-icon>
            </div> -->
            <div draggable='true' (dragstart)='onDragStart($event,9,false,false,0);'
                aria-label="Example icon-button with a radio_button_checked icon">
                Radio Group
                <mat-icon>radio_button_checked</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,14,false,false,0);'
                aria-label="Example icon-button with a radio_button_checked icon">
                Radio Button
                <mat-icon>radio_button_checked</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,11,false,false,0);'
                aria-label="Example icon-button with a fast_forward icon">
                Slider
                <mat-icon>fast_forward</mat-icon>
            </div>
            <mat-divider class="full-width"></mat-divider>
            <h3>Text</h3>
            <section class="type-container full-width" fxLayout="row wrap">
                <div draggable='true' (dragstart)='onTextDragStart($event,18,"title");'
                    aria-label="Example icon-div with a text_fields icon">
                    Title
                    <mat-icon>text_fields</mat-icon>
                </div>
                <div draggable='true' (dragstart)='onTextDragStart($event,19,"Subtitle");'
                    aria-label="Example icon-div with a subtitles icon">
                    Subtitle
                    <mat-icon>subtitles</mat-icon>
                </div>
                <div draggable='true' (dragstart)='onTextDragStart($event,20,"Write paragraph");'
                    aria-label="Example icon-div with a title icon">
                    Text
                    <mat-icon>title</mat-icon>
                </div>
                <div draggable='true' (dragstart)='onTextDragStart($event,27,"");'
                    aria-label="Example icon-div with a function icon">
                    Calc Label
                    <mat-icon>functions</mat-icon>
                </div>
            </section>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Container
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="type-container" fxLayout="row wrap">
            <div draggable='true' (dragstart)='onDragStart($event,3,true);'
                aria-label="Example icon-div with a crop_square icon">
                Container
                <mat-icon>crop_square</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,15,true);'
                aria-label="Example icon-div with a chrome_reader_mode icon">
                Card
                <mat-icon>chrome_reader_mode</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,13,false,true);'
                aria-label="Example icon-div with a flip_to_back icon">
                Child Container
                <mat-icon>flip_to_back</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,26,false,true);'
                aria-label="Example icon-div with a tab icon">
                Tabs
                <mat-icon>tab</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,4,false,true);'
                aria-label="Example icon-div with a form icon">
                Form
                <mat-icon>receipt</mat-icon>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Buttons
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap">
            <h3>Basic Buttons</h3>
            <div class="example-button-row">
                <button mat-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-button','Basic',$event);">Basic</button>
                <button mat-button draggable='true' (dragstart)="onButtonDragStart('mat-button','primary',$event);"
                    color="primary">Primary</button>
                <button mat-button draggable='true' (dragstart)="onButtonDragStart('mat-button','accent',$event);"
                    color="accent">Accent</button>
                <button mat-button draggable='true' (dragstart)="onButtonDragStart('mat-button','warn',$event);"
                    color="warn">Warn</button>
            </div>

            <h3>Raised Buttons</h3>
            <div class="example-button-row">
                <button mat-raised-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-raised-button','Basic',$event)">Basic</button>
                <button mat-raised-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-raised-button','primary',$event)"
                    color="primary">Primary</button>
                <button mat-raised-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-raised-button','accent',$event)" color="accent">Accent</button>
                <button mat-raised-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-raised-button','warn',$event)" color="warn">Warn</button>

            </div>

            <h3>Stroked Buttons</h3>
            <div class="example-button-row">
                <button mat-stroked-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-stroked-button','Basic',$event)">Basic</button>
                <button mat-stroked-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-stroked-button','primary',$event)"
                    color="primary">Primary</button>
                <button mat-stroked-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-stroked-button','accent',$event)" color="accent">Accent</button>
                <button mat-stroked-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-stroked-button','warn',$event)" color="warn">Warn</button>

            </div>

            <h3>Flat Buttons</h3>
            <div class="example-button-row">
                <button mat-flat-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-flat-button','Basic',$event)">Basic</button>
                <button mat-flat-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-flat-button','primary',$event)" color="primary">Primary</button>
                <button mat-flat-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-flat-button','accent',$event)" color="accent">Accent</button>
                <button mat-flat-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-flat-button','warn',$event)" color="warn">Warn</button>

            </div>

            <h3>Icon Buttons</h3>
            <div class="example-button-row">
                <button mat-icon-button draggable='true' (dragstart)="onButtonDragStart('mat-icon-button','',$event)"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button draggable='true'
                    (dragstart)="onButtonDragStart('mat-icon-button','primary',$event)" color="primary"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button color="accent" draggable='true'
                    (dragstart)="onButtonDragStart('mat-icon-button','accent',$event)"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button color="warn" draggable='true'
                    (dragstart)="onButtonDragStart('mat-icon-button','warn',$event)"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>

            <h3>Fab Buttons</h3>
            <div class="example-button-row">
                <button mat-fab draggable='true'
                    (dragstart)="onButtonDragStart('mat-fab','Basic',$event)">Basic</button>
                <button mat-fab draggable='true' (dragstart)="onButtonDragStart('mat-fab','primary',$event)"
                    color="primary">Primary</button>
                <button mat-fab draggable='true' (dragstart)="onButtonDragStart('mat-fab','accent',$event)"
                    color="accent">Accent</button>
                <button mat-fab draggable='true' (dragstart)="onButtonDragStart('mat-fab','warn',$event)"
                    color="warn">Warn</button>
                <button mat-fab draggable='true' (dragstart)="onButtonDragStart('mat-fab','primary',$event)"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>

            <h3>Mini Fab Buttons</h3>
            <div class="example-button-row">
                <button mat-mini-fab draggable='true'
                    (dragstart)="onButtonDragStart('mat-mini-fab','Basic',$event)">Basic</button>
                <button mat-mini-fab draggable='true' (dragstart)="onButtonDragStart('mat-mini-fab','primary',$event)"
                    color="primary">Primary</button>
                <button mat-mini-fab draggable='true' (dragstart)="onButtonDragStart('mat-mini-fab','accent',$event)"
                    color="accent">Accent</button>
                <button mat-mini-fab draggable='true' (dragstart)="onButtonDragStart('mat-mini-fab','warn',$event)"
                    color="warn">Warn</button>
                <button mat-mini-fab draggable='true' (dragstart)="onButtonDragStart('mat-mini-fab','favorite',$event)"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>

            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Data
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="type-container" fxLayout="row wrap">
            <div draggable='true' (dragstart)='onDragStart($event,23);'
                aria-label="Example icon-div with a table_chart icon">
                Table
                <mat-icon>table_chart</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,28);'
                aria-label="Example icon-div with a table_chart icon">
                Creatable table
                <mat-icon>table_chart</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,24);' aria-label="Example icon-div with a menu icon">
                List
                <mat-icon>menu</mat-icon>
            </div>
            <div draggable='true' (dragstart)='onDragStart($event,25);'
                aria-label="Example icon-div with a clear_all icon">
                Drop Down List
                <mat-icon>clear_all</mat-icon>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>