button{
    font-size: 14px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  margin-bottom: 8px;
}
.type-container{
  div{
    font-size: 11px;
    height: 70px;
    width: 78px;
    display: flex;
    place-content: center center;
    align-items: center;
    cursor: move;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
  margin: 5px;
  flex-direction: column;
  }
}
