button{
    font-size: 14px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  margin-bottom: 8px;
}
.type-container{
  div{
    height: 33px;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    mat-icon{
      font-size:18px;
      display: flex;
      align-items: center;
    }
  }
}
