<div style="height:100%" >
  <div *ngFor="let item of containers" [ngSwitch]="item.type"  [appStyle]="item.style" [styleField]="item">
      <ng-container *ngSwitchCase="3">
          <ng-container *ngFor="let field of item.fields">
              <app-field-render *ngIf="!field.isContainer" [field]="field" [appStyle]="field.style" [ngClass]="{'full-width':field.fullWidth}"></app-field-render>
              <app-child-container-render  *ngIf="field.isContainer" [container]="field" [appStyle]="field.style" [styleField]="field">
              </app-child-container-render>
          </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="15">
          <mat-card class="example-card">
              <mat-card-header>
                  <mat-card-title>{{item["cardTitle"]}}</mat-card-title>
                  <mat-card-subtitle> {{item["cardSubTitle"]}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <ng-container *ngFor="let field of item.fields">
                      <app-fields *ngIf="!field.isContainer" [field]="field"></app-fields>
                      <app-child-container-render  *ngIf="field.isContainer" [container]="field">
                      </app-child-container-render>
                  </ng-container>
              </mat-card-content>
              <mat-card-actions>
                  <button *ngFor="let action of item['cardActions']" mat-button>{{action.title}}</button>
              </mat-card-actions>
          </mat-card>
      </ng-container>
  </div>
</div>