<div fxLayout class="field-action" [ngStyle]="{'left.px': left,'top.px': top}">
    <mat-icon matTooltip="Copy" (click)=handleFieldAction(2,field,$event)>file_copy</mat-icon>
    <mat-icon matTooltip="Delete" (click)=handleFieldAction(1,field,$event)>delete</mat-icon>
    <mat-icon matTooltip="Select Parent" (click)=handleFieldAction(3,field,$event)>keyboard_arrow_up</mat-icon>
    <mat-icon   *ngIf="field.type===27" (click)="handleFieldAction(4,field,$event)" matTooltip="Equation and binding">functions</mat-icon>
    <ng-content>

    </ng-content>
</div>