.field-action{
    top: -2.4em;
    background: gold;
    color: white;
    left: -2px;
    padding: 1px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    mat-icon{
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
button{
    width: inherit;
    height: inherit;
}
:host{
    position: fixed;
}