<div fxLayout class="field-action" [ngStyle]="{'left.px': left,'top.px': top}">
    <button   matTooltip="Copy" mat-icon-button (click)=handleFieldAction(2,field)>
        <mat-icon >file_copy</mat-icon>
    </button>
    <button  matTooltip="Delete" mat-icon-button (click)=handleFieldAction(1,field)>
        <mat-icon>delete</mat-icon>
    </button>
    <button  matTooltip="Select Parent" mat-icon-button (click)=handleFieldAction(3,field)>
        <mat-icon >keyboard_arrow_up</mat-icon>
    </button>
    <button   mat-icon-button (click)=handleFieldAction(4,field) matTooltip="Equation and binding" *ngIf="field.type===27">
        <mat-icon >functions</mat-icon>
    </button>

    <ng-content>

    </ng-content>
</div>
